{% extends "layout.html" %}
{% block content %}
<div class='canvas'
     id='target'>
  <iframe src="{{target_url }}"
          width="100%"
          frameBorder='0'
          id='target_frame'
          height='100'>
  </iframe>
</div>
<script type="text/javascript">
  // ヒートマップのインスタンス・データを受け取る変数
  let heatmapInstance = resposen_data = null;

  // Iframeタグの参照先の高さを取得・指定
  const iframeResize = async () => {
    window.addEventListener('message', function (e) {
      //if(e.origin=="http://rwd-book.info"){
      console.log('hello ');
      document.getElementById('target_frame').height = document.getElementById('target').height = e.data;
      console.log(document.getElementById('target').height);
      console.log(document.getElementById('target'));
      //}
      create_heat_map();
    }, false);
  }

  // ヒートマップのインスタンス
  const create_heat_map = async () => {
    heatmapInstance = h337.create({
      container: document.querySelector('.canvas'),
      radius: 90
    });
    console.log('create heat')
  }

  //アナリティクスからデータを取得する 
  const get_click_data = async () => {
    // Ajax通信を開始
    await $.ajax({
        url: 'get_click_data',
        type: 'GET',
        dataType: 'json',
      })
      .done(function (data) {
        // 通信成功
        resposen_data = data;
        console.log('success');
      })
      .fail(function () {
        // 通信失敗
        console.log("error")
      });
  }

  // データの取り出しヒートマップに追加
  const heat_map_add = async () => {
    let result = resposen_data.reduce((prev, data, index, array) => {
      add_data_heatmap(data.dimensions, index);
      return index
    });
    console.log(result);
  }

  // ヒートマップに追加
  const add_data_heatmap = async (data, index) => {
    heatmapInstance.addData({
      x: data[0],
      y: data[1],
      value: index
    });
  }

  // 関数の実行
  const processAll = async function () {
    await iframeResize();
    //await create_heat_map();
    await get_click_data();
    await heat_map_add();
  }
  // プロセスの実行
  processAll()
</script>

{% endblock %}